.main-container{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color: #bdebe8;
    border-style:solid;
    border-radius:5px;
    padding: 10px;
    color:#6B4F40;
}

#content{
    text-align: left;
    padding:2%;
    padding-right:20%;
}

#body{
    display:flex;
    align-items:flex-start;
}
li{
    text-align:left;
}
#placeholder{
    float:right;
}
#nav{
    padding:30px;
    margin:20px;
}

#nav > h2{
    font-size:larger
}
#split-table{
    border-color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px
}
#code-snippet{
    border-style:solid;
    border-width:1px;
    color:#BEEBE2;
    font-family: monospace;
    border:1px solid #fff;
    background-color: #314743;
    text-align: left;
}
#split-table  #side{
    padding: 15px;
    float: left; 
    border-style:solid;
    border-width:1px;
    color:#BEEBE2;
    font-family: monospace;
    max-width: 100%;
    border:1px solid #fff;
    background-color: #314743;
}
